@model ToDo.Application.Dto.User.PasswordResetDto

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <title>Şifre Yenileme</title>
</head>
<body>


    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('/images/bg_1.jpg'); "></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3>Şifre Yenileme</h3>
                                @if (@ViewBag.Status == "Success")
                                {
                                    <div class="alert alert-info">
                                        Şifre yenileme linki epostanıza gönderilmiştir.
                                    </div>
                                }

                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" type="text" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <input type="submit" value="Gönder" class="btn btn-block py-2 btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
